page-login {
    .watermark{
        background-image: url("../assets/imgs/watermark.jpg");
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 0.06;
        background-position: 35% 5%;
    }
    .logo-header{
        position: relative;
        height:20%;
        display: block;
        background-color: white;
    }
    .content{
        background-color: #174873 !important;
        width: 100%;
        height: 80%;
        overflow: auto;
    }
    .custom-padding{
        padding: 5% 10%;
    }
    .bg-transparent{
        background: transparent;
    }
    ion-label{
        font-size: 1.25em !important;
        padding: 3px 0px; 
    }
    input::placeholder{
        color: white !important; 
    }
   
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating]{
        color: white !important; 
    }

    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
      border-bottom-color: white;
      -webkit-box-shadow: inset 0 -1px 0 0 #fff;
      box-shadow: none;
    }

    ion-item{
        padding : 0 16px !important;
    }

    .footer{
        position: relative;
        padding:0;
        width: 100%;
        bottom: 0;
    }
}
