// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import 'node_modules/text-security/dist/text-security.css';
@font-face {
    font-family: 'text-security-disc';
    src: url('../assets/fonts/text-security-disc.eot');
    src: url('../assets/fonts/text-security-disc.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/text-security-disc.woff') format('woff'),
        url('../assets/fonts/text-security-disc.ttf') format('truetype'),
        url('../assets/fonts/text-security-disc.svg#text-security') format('svg');
}
.conceal {
    font-family: 'text-security-disc';    
}
.primary{
    background-color: #174873;
    color: #fff; 
}
.aqua{
    background-color: #34bdf1;
    color: #fff;
}
.dark{
    background-color: #333;
    color: #fff; 
}
.no-border .item-inner{
    border:none !important;
}
.round-img{
    border-radius: 50%;
    border : 3px solid #fff;
}
.font-emphasis{
    font-size: 2em;
    line-height: 1.125em;
}
.bg-danger{
    background-color: #e74c3c !important;
}
.bg-warning{
    background-color: #f1c40f !important;
}
.bg-success{
    background-color: #2ecc71 !important;
}
.border-danger{
    border: 1px solid #e74c3c !important;
}
.border-warning{
    border: 1px solid #f1c40f !important;
}
.border-success{
    border: 1px solid #2ecc71 !important;
}
.border-rounded{
    border-radius: 3px;
}
.position-center{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.display-block{
    display: block;
}
.color-white{
    color: white !important; 
}

.text-center{
    text-align: center;
}

.margin-center{
    display: block;
    margin:auto;
}
.margin-40{
    margin:40px;
}
.pull-right{
    float:right;
}

.clear:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.overflow-hidden{
    overflow: hidden;
}
.bg-rounded{
    border-radius:5px;
}
.josco-header{
    height:20vh;
}

.mt-1{
    margin-top: 16px;
}
.pl-1{
    padding-left: 16px;
}

.monthview-selected {
    background-color: #174873 !important;
    border-radius: 5px !important;
    color: black !important;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    border:none !important;
}

  td.monthview-current {
    color: white;

    .calendar-day {
      background-color: color($colors, 'light') !important;
    }
  }

  .monthview-datetable {
    border: 0 !important;

    td, th {
      border: 0 !important;
      padding: 3px!important;
      background-color: transparent!important;
    }
  }

  .calendar-day {
    border-radius: 6px;
    padding: 3px 5px;

    &.late {
      background-color: #c0392b;
      color: white;
    }

    &.early {
      background-color: #f1c40f;
      color: white;
    }

    &.longday {
      background-color: #8e44ad;
      color: white;
    }

    &.night {
      background-color: #2c3e50;
      color: white;
    }
  }

  calendar{
      position: absolute;
      height: auto;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
      .event-detail-container{
          display: none;
      }
  }

ion-app.md{
    font-size:15px !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    box-shadow: none !important;
}

.header-md::after {
    background: none !important;
}